<div class="sidebar-user-head">
  <div class="sidebar-user-head__icon-wrap"><i class="material-icons sidebar-user-head__icon">person</i></div>
  <div class="sidebar-user-head__about">
    <p class="sidebar-user-head__id">11983</p>
    <p class="sidebar-user-head__role">User role</p>
  </div>
  <i class="material-icons sidebar-user-head__angle">keyboard_arrow_right</i>
</div>

<ul class="sidebar-user-list">
  <li class="sidebar-user-list__item">
    <i class="material-icons sidebar-user-list__icon">shopping_basket</i>
    <span class="sidebar-user-list__text">Balance</span>
    <span class="sidebar-user-list__cash">$1,973.00</span>
  </li>
  <li class="sidebar-user-list__item">
    <i class="material-icons sidebar-user-list__icon">shopping_basket</i>
    <span class="sidebar-user-list__text">Notifications</span>
    <span class="sidebar-user-list__counter">6</span>
  </li>
</ul>

<div class="sidebar-user-nav">
  <button class="sidebar-user-nav__out"><i class="material-icons sidebar-user-nav__out-icon">input</i> Log out</button>
  <a href="#" class="sidebar-user-nav__settings"><i class="material-icons sidebar-user-nav__settings-icon">settings</i> Settings</a>
</div>
