:host {
  display: block;
  padding: 30px;
  border-radius: 5px;
  background-color: #3d4d65;
  color: #ffffff;
}

.summary-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -7px;
}

.summary-list {
  width: calc(50% - 14px);
  margin: 0 7px;
  list-style: none;

  @media screen and (max-width: 768px) {
    width: calc(100% - 14px);
  }

  &__item {
    margin-bottom: 20px;
  }

  &__name,
  &__value {
    display: inline-block;
    vertical-align: middle;
    word-break: break-all;
  }

  &__name {
    width: 30%;
    padding-right: 5px;
    font-weight: 300;
  }

  &__value {
    width: 70%;
  }
}

.summary-files {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px 0;
  border-top: 1px solid #54657e;
  border-bottom: 1px solid #54657e;


  &__text {
    margin-right: 10px;
    font-weight: 300;
  }

  &__options {
    flex: 1;
    text-align: right;
    font-weight: 300;
  }

  &__link,
  &__view {
    color: #78b6ff;
    transition: .3s;
    cursor: pointer;
    
    &:hover {
      color: #077eda;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__view {
    margin-left: 20px;
    white-space: nowrap;
  }

  &__icon {
    vertical-align: middle;
  }
}

.summary-description {

  &__title {
    margin-bottom: 10px;
  }

  &__text {
    font-weight: 300;
  }
}


