<div class="summary-wrap">
  <ul class="summary-list">
    <li class="summary-list__item">
      <span class="summary-list__name">Type:</span><span class="summary-list__value">Essay (any type)</span>
    </li>
    <li class="summary-list__item">
      <span class="summary-list__name">Service:</span><span class="summary-list__value">Writing from scratch</span>
    </li>
    <li class="summary-list__item">
      <span class="summary-list__name">Sources:</span><span class="summary-list__value">2 sources required</span>
    </li>
    <li class="summary-list__item">
      <span class="summary-list__name">Style:</span><span class="summary-list__value">APA</span>
    </li>
  </ul>
  <ul class="summary-list">
    <li class="summary-list__item">
      <span class="summary-list__name">Pages:</span><span class="summary-list__value">2 pages / 550 words</span>
    </li>
    <li class="summary-list__item">
      <span class="summary-list__name">Level:</span><span class="summary-list__value">Undergraduate</span>
    </li>
    <li class="summary-list__item">
      <span class="summary-list__name">Subject:</span><span class="summary-list__value">Other (Economics)</span>
    </li>
  </ul>
</div>

<div class="summary-files">
  <div class="summary-files__wrap">
    <span class="summary-files__text">Attached files:</span><span class="summary-files__name">3</span> <span class="summary-files__size">(224 Mb)</span>
  </div>
  <div class="summary-files__options">
    <a href="#" class="summary-files__link">Download all</a>
    <span class="summary-files__view">View files <i class="material-icons summary-files__icon">keyboard_arrow_right</i></span>
  </div>
</div>

<div class="summary-description">
  <p class="summary-description__title">Description:</p>
  <p class="summary-description__text">I just want a good paper to get an A.</p>
</div>
