<div class="bid-block">
  <div class="bid-block__title-wrap">
    My bid <span class="bid-block__bid-price">$100.00</span> <span class="bid-block__bid-status">(Open)</span>
  </div>
  <div class="bid-block__share-wrap">
    My share: <span class="bid-block__share-price">$35.00</span><span class="bid-block__share-percent">(35%)</span>
  </div>
  <div>
    <span class="bid-block__open-bids">9</span> open bids
  </div>
  <form class="bid-block__btns-wrap">
    <button class="bid-block__btn-edit">Edit my bid</button>
    <button class="bid-block__btn-cancel">Cancel</button>
  </form>
</div>

<div class="customers-block">
  <div class="customers-quote">
    <span class="customers-quote__icon-wrap"><i class="material-icons customers-quote__icon">chat_bubble</i></span>
    <span class="customers-quote__text">Hi, I would like to take your order. I guarantee you outstanding qu…</span>
  </div>
  <div class="customers-features">
    <div class="customers-features__head">
        <div class="customers-features__logo-wrap online">
          <!--<img src="#" alt="" class="customers-features__logo">-->
          <!--if image false-->
          <div class="customers-features__logo-fake"></div>
          <span class="customers-features__initials">AK</span>
        </div>
        <div class="customers-features__info">
          <p class="customers-features__number">7834</p>
          <p class="customers-features__position">Customer</p>
        </div>
        <div class="customers-features__time-wrap">
          <p class="customers-features__time">3:23 pm</p>
          <p class="customers-features__local-time">Customer local time</p>
        </div>
    </div>
    <div class="customers-features__body">
      <div>
        <p class="customers-features__body-title">Orders</p>
        <p class="customers-features__orders">12</p>
      </div>
      <div>
        <p class="customers-features__body-title">Acceptance rate</p>
        <p class="customers-features__acceptance">94%</p>
      </div>
      <div>
        <p class="customers-features__body-title">Pay rate</p>
        <p class="customers-features__pay">94%</p>
      </div>
    </div>
  </div>
</div>
