<div class="head-features">
  <p class="head-features__title">Promote the image of the company: a hypothesis and theory</p>
  <div class="head-features__wrap">
    <span class="head-features__order">Order 18726</span>
    <span class="head-features__status">Available</span>
    <span class="head-features__date">Nov 25, 7:32 pm</span>
    <span class="head-features__days">12 days remaining</span>
  </div>
</div>
<div class="head-nav">
    <i class="material-icons">keyboard_arrow_right</i>
    <span class="head-nav__text">View details</span>
</div>
