<div class="sidebar-head">
  <a href="#" class="sidebar-head__link">
    <span class="sidebar-head__logo-wrap"><i class="material-icons sidebar-head__logo">event_note</i></span>
    <span class="sidebar-head__href-wrap">ESSAY<span class="sidebar-head__pro">PRO</span><span class="sidebar-head__com">.com</span></span>
  </a>
</div>

<div class="sidebar-nav">
  <ul class="main-list">
    <li class="main-list__item active">
      <i class="material-icons main-list__icon">shopping_basket</i>
      <span class="main-list__text">Available orders</span>
      <span class="main-list__counter">125</span>
    </li>
    <li class="main-list__item">
      <i class="material-icons main-list__icon">shopping_basket</i>
      <span class="main-list__text">Hire requests</span>
      <span class="main-list__counter main-list__counter--violet">2</span>
    </li>
    <li class="main-list__item">
      <i class="material-icons main-list__icon">shopping_basket</i>
      <span class="main-list__text">Bidding</span>
      <span class="main-list__counter main-list__counter--violet">1</span>
    </li>
    <li class="main-list__item">
      <i class="material-icons main-list__icon">shopping_basket</i>
      <span class="main-list__text">In progress</span>
      <span class="main-list__counter main-list__counter--orange">5</span>
    </li>
    <li class="main-list__item">
      <i class="material-icons main-list__icon">shopping_basket</i>
      <span class="main-list__text">Finished</span>
      <span class="main-list__counter">176</span>
    </li>
    <li class="main-list__item" [intercomShutdown]="true">
      <i class="material-icons main-list__icon">shopping_basket</i>
      <span class="main-list__text">Canceled</span>
      <span class="main-list__counter">18</span>
    </li>
  </ul>
  <ul class="main-list main-list--additional">
    <li class="main-list__item">
      <i class="material-icons main-list__icon">shopping_basket</i>
      <span class="main-list__text">Position in rating</span>
      <span class="main-list__counter">6</span>
    </li>

    <li class="main-list__item intercom-custom">
      <i class="material-icons main-list__icon">shopping_basket</i>
      <span class="main-list__text">Intercom</span>
      <!--<span class="main-list__counter main-list__intercom-badge">{{counter}}</span>-->
    </li>

    <li class="main-list__item">
      <i class="material-icons main-list__icon">shopping_basket</i>
      <span class="main-list__text">Help Center</span>
    </li>
  </ul>
</div>

